$pokered: #AC4147;
$orange: #F88863;
$purple: #411F2D;
$light-orange: #FFC27F;
$yellow: #FFE29A;

//Types
$water: #386ceb;
$grass: #78c850;
$fire: #f08030;
$electric: #f8d030;
$bug: #a8b820;
$ice: #98d8d8;
$fighting: #c03028;
$poison: #a040a0;
$dark: #705848;
$psychic: #F85888;
$normal: #A1A171;
$flying: #A38CE6;
$ground: #DCB958;
$rock: #AD9735;
$ghost: #624D85;
$dragon: #6327F5;
$fairy: #E487E4;
$steel: #AAAAC7;